@font-face {
  font-family: Font_Titlu;
  src: url("../fonts/Montserrat-Bold.ttf");
}

html, body {  
  
  font-family:Font_Titlu;
  overflow-x: hidden!important;
}
body{
    background-color: rgb(35, 90, 100);
}
#inner{
  overflow-x: hidden!important;
}
.hero-image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-image.start{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)),
    url("../../media_regulament/bg.jpg");
  height: 500px;
}

.hero-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image.cs{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.678), rgb(0, 0, 0, 0.678)),
    url("../../media_regulament/rule_cs_bg.jpg");
}

.hero-image.lol1{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.678), rgb(0, 0, 0, 0.678)),
    url("../../media_regulament/rule_lol1_bg.jpg");
}

.hero-image.lol5{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.678), rgb(0, 0, 0, 0.678)),
    url("../../media_regulament/rule_lol5_bg.jpg");
}

.hero-image.hs{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.678), rgb(0, 0, 0, 0.678)),
    url("../../media_regulament/rule_hs_bg.jpg");
}

.hero-image.dota{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.678), rgb(0, 0, 0, 0.678)),
    url("../../media_regulament/rule_dota_bg.jpg");
}
.hero-image.metin{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.678), rgb(0, 0, 0, 0.678)),
    url("../../media_regulament/rule_metin_bg.jpg");
}
body {
  margin:0;
  padding:0;
  }
.row{
  margin-left: 0;
  margin-right: 0;
}
  .prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: 7%!important;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    overflow-x: hidden;
  }

  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .regulamente{
    padding: 80px;
    /*min-height: 500px;*/
  }
.center-list
{
 text-align: center;
 list-style-position: inside;
}
ol.center-list li
{
 text-align: left;
}
.carousel-indicators [data-bs-target] {

  box-sizing: content-box;
  flex: 0 1 auto;
  padding: 0;
  width: 120px!important;
  height: 50px!important;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color: #fff0;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 1;
  transition: opacity .6s ease;
}
.carousel{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.472), rgb(0, 0, 0, 0.472));
}
.carousel-indicators {
  
  text-align: center;
  position: relative;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.regulamente a:link{
  text-decoration: none;
}
.carousel-indicators img {
  cursor: pointer;
  width: 120px;
  height: 50px;
  margin: 20px;
  object-fit: contain;
  transition: all .3s ease-in-out;
}
.carousel-indicators .active{
  background-color: rgb(61, 61, 61);
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(0, 0, 0);
  border-width: 5px;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
header{
  text-shadow: 4px 4px 20px black;
  text-align: center;
  font-size: 60px;
  font-weight: 10px;
}
ol{
  font-size: 20px;
  font-weight: 10px;
}

.strong_shadow{
  text-shadow: 2px 2px 40px #000000;
}

@media only screen and (max-width: 768px) {

.dot {
    cursor: pointer;
    height: 60px;
    width: 110px;
    margin: 0 2px;
    background-color: rgba(58, 58, 58, 0.561);
    border-radius: 15px;
    display: inline-block;
    justify-content: center;
    transition: background-color 0.6s ease;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.dot img{
    display: block;
    height: 50px;
    max-width: 100px;
    margin-left: -5px!important;
    margin-right: auto;
    margin-top: 5px;
    margin-right: auto;
    object-fit: contain;
}
.active img, .dot:hover img{
    height: 45px;
    max-width: 90px;
    margin-top: 10px;
}
.regulamente{
  padding: 40px;
}

.prev, .next {
  margin-top: 90%!important;
}

header{
  font-size: 30px;
  font-weight: 10px;
}
ol{
  font-size: 16px;
  font-weight: 10px;
}
.hero-image.start{
  background-image: url("../../media_regulament/bg.jpg");
  max-height: 300px;
}
.hero-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
}